html, body{
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #f6f6f6;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    box-sizing: border-box;
    color: #333333;

    max-width: 1920px;
}
a, a:hover, a:link, a:visited, a:active{  text-decoration: none; color: #f6f6f6 }

ul{
    padding: 0;
    list-style-type: none;
}

/* ---------------------------------------- kolumna pierwsza - boczna nawigacja  ----------------------------------------*/
.colFirst{
    display: inline-block;
    width: 20%;
    font-size: 20px;
    flex-wrap: wrap;
    background-color: #656565;
    padding: 2.5%;
    border-right: 2px solid #ffbd4a;
    height: 100vh;
    padding-top: 15%;
    max-width: 384px;
    position: relative;
}


.colFirst > ul >li{
    padding-bottom: 20%;
}

.colFirst > ul > li:hover >a {
    color: #ffbd4a;
}

.colFirst > ul > li:hover{
    cursor: pointer;
}
#logoInColFirst{
    position: absolute;
    top:0;
    left: 0;

}

#logoInColFirst > a >img{
    width: 90%;
    padding: 3%;
    background-color: #656565;
}

/* ---------------------------------------- kolumna druga - content ---------------------------------------- */



article > section >  div{
    padding: 2%;
    padding-right: 3%;
}

.colSecond{
    display: inline-block;
    font-size: 20px;
    width: 80%;
    max-width: 1536px;
    /*position: relative;*/

    /*top: 0;*/
    /*left: 0;*/
}

/* logo */
#logo > a > img{
    position: absolute;
    top: 0;
    left: 2%;
    width: 15%;
    max-width: 250px;
    padding: 1%;
    z-index: 2;
    background-color: #656565;

}

.colSecond > header > nav{
    background-color: #656565;
    color: #ffbd4a;
    padding: 2%;
    text-align: right;
    border-bottom: 2px solid #ffbd4a;
    position: relative;
    vertical-align: middle;
}
.colSecond > header > nav:after{
    content: "";
    height: 100%;
    width: 20px;
    background-color: #656565;
    display: block;
    top:0;
    left: -10px;
    position: absolute;
    z-index: 2;
}

.colSecond > header > nav > a{
    padding-right: 4%;
}
.colSecond > header > nav > a:hover > i{
    color: #ffbd4a;
}

/* profilowe */
.colSecond > header > nav > img{
    width: 6%;
    border-radius: 60%;
    border: 2px solid #ffbd4a;
    margin-right: 10px;
}
.colSecond > header > nav > img:hover {
    cursor: pointer;
    border: 3px solid #ffbd4a;
}


/* HAMBURGER */

#hamburger{
    color: #f6f6f6;
    display: none;
}

#hamburgerMenu > ul > li:hover > a{
    /*border-bottom: 2px solid #ffbd4a;*/
    color: #ffbd4a;
}

#hamburgerMenu{
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    display:none;
    background-color: #656565;
    border-bottom: 3px solid #ffbd4a;
}



article{
    position: absolute;
}

section{
    padding: 1%;
}


/* alert o nieznalezionej osobie w wyszukiwarce */

#shadowAlert{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 2;
    display: none;
}

#notFoundPerson{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    z-index: 3;
    background-color: white;
    border: 2px solid #ffbd4a;
    color: #656565;
    font-size: 15px;
    display: none;
}

#notFoundPerson > i{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1%;
}

#notFoundPerson > div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding: 5%;*/
}

#notFoundPerson > button{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #ffbd4a;
}


.startContent > div:nth-child(3) > div:nth-child(2) > form > input{
    width: 100%;
    height: 180px;
    font-size: 10px;
}


/* RWD */


@media only screen and (max-width: 767px){
    .colFirst{
        display: none;
        width: 0;
    }
    .colSecond{
        width: 100%;
    }

    /* logo */
    #logo > a > img{
        width: 17.4%;
    }


    header > nav > a > i, header > nav > span{
        font-size: 10px;
    }

    #hamburger{
        display: inline-block;
        text-align: right;
        cursor: pointer;
        padding: 1%;
    }
    #hamburger:hover{
        color: #ffbd4a;
    }

    .colSecond > header > nav > a, .colSecond > header > nav > img, .colSecond > header > nav > span{
        display: none;
    }

}
@media only screen and (max-width: 540px) {
    /* logo */
    #logo > a > img {
        width: 20%;
    }
}
@media only screen and (min-width: 768px) {
    #logo {
        display: none;
    }
}

@media only screen and (min-width: 1330px) {
    .statisticContent > div:nth-child(5) > div:nth-child(1){
        padding-bottom: 2%;
    }
}

/*@media only screen and (min-width: 1700px) {*/
    /*.colFirst > ul > li > a{*/
        /*font-size: 40px;*/
    /*}*/

    /*.colFirst > ul >li{*/
        /*padding-bottom: 10%;*/
    /*}*/

    /*.colSecond > header > nav > a > i, .colSecond > header > nav > span{*/
        /*font-size: 50px;*/
    /*}*/
    /**/
/*}*/

